* {
    padding: 0;
    margin: 0;
}

/* - - - -  Banner  - - - - */
.wrapper {
    width: 1440px;
    max-width: 80%;
    margin: 0 auto;
}

#banner {
    background-image: url(images/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

header {
    padding: 2rem 0;
}

#logo {
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 47px;
    height: 43px;
    float: left;
}

nav {
    float: right;
}

#banner nav a{
    margin-left: 4rem;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.content {
    padding: 2rem 0 6rem 0;
    margin-top: 15%;
}

.content p {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-top: 0.3rem;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.3rem;
    opacity: 0.95;
}

.content p:nth-child(3) {
    margin-top: 2%; 
}

.content p a{
    text-transform: capitalize;
    margin-top: 3rem;
    font-size: 0.9rem;
    font-weight: 100;
    text-transform: capitalize;
    text-decoration: none;
    font-family: 'montserrat', sans-serif;
    color: white;
    text-align: center;
}

.contact {
    font-family: 'Lato', sans-serif!important;
    box-shadow: none !important;
    outline: none !important;
    margin-top: 6% !important;
    margin-bottom: 5% !important;
    color: #393939 !important;
}

/*.contact {
    text-align: center;
    margin-top: 10%;
}

.contact a {
    text-decoration: none;
    color: #313435;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    border-radius: 2rem;
    padding: 0.3rem 1.2rem;
    background-color: #f4f4f4;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
    word-spacing: 3px;
}

.contact:hover > .contact a {
    background-color: #313435;
    color: white;
}*/
